//
// Layout Config
//

// Root font Sizes
$root-font-size:                                    13px; // Root font size for desktop mode
$root-font-size-lg:                             	13px; // Root font size for tablet mode
$root-font-size-md:                             	12px; // Root font size for mobile mode

// Page bg
$page-bg: 											if(isDarkMode(), #151521, $body-bg) !default;

// Content border radius
$content-border-radius:								1.5rem !default;

// Content Spacing
$content-spacing: (
	desktop: 30px, 
	tablet-and-mobile: 15px 
) !default;

// Header
$header-config: (
	height: (
		desktop: 75px,
		tablet-and-mobile: 60px
	),
	bg-color: if(isDarkMode(),#1E1E2D, #130061),
	border-bottom: if(isDarkMode(),1px solid #2D2D43, 0),
	z-index: 100
) !default;

// Aside
$aside-config: (
	z-index: 100, 
	menu-indention: 0.75rem,
	bg-color: if(isDarkMode(), #1E1E2D, #F5F6FA),
	width: 300px, 
	border-radius: 1.75rem
) !default;

// Sidebar
$sidebar-config: (
	z-index: 100, 
	bg-color: rgba(19,0,97, 0.3),
	bg-color-tablet-and-mobile: rgba(19,0,97, 0.75),
	width: 425px, 
	border-radius: 1.75rem,
	spacing: (
		desktop: 50px, 
		tablet-and-mobile: 15px
	)
) !default;

