//
// Topbar
//

$btn-bg-color: if(isDarkMode(), rgba($white, 0.1), rgba($white, 0.1));
$btn-bg-color-active: if(isDarkMode(), rgba($white, 0.25), rgba($white, 0.25));

.topbar {		
	// Buttons
	.btn.btn-custom {
		@include button-custom-variant(
			$color: null, $icon-color:$white, $border-color: null, $bg-color: $btn-bg-color, 
			$color-active: null, $icon-color-active: $white, $border-color-active: null, $bg-color-active: $btn-bg-color-active
		);
	}
	
	// Fixed header & NON sticky search modes
	.active.show > .btn.btn-custom {
		color: $white;
		background-color: $btn-bg-color;

		i {
			color: $white;
		}

		.svg-icon {
			@include svg-icon-color($white);
		}
	}   
}

// Desktop mode
@include media-breakpoint-up(lg) {
	.topbar-search {
		form {
			.search-input {
				@include placeholder(rgba($white, 0.75));
				background-color: $btn-bg-color;
				border: 1px solid $btn-bg-color;
				color: $white;

				&:focus {
					background-color: $btn-bg-color;
					border: 1px solid $btn-bg-color;
					color: $white;
				}
			}

			i,
			.spinner-border {
				color: rgba($white, 0.75) !important;
			}

			.svg-icon {
				@include svg-icon-color(rgba($white, 0.75), true);
			}
		}
	}
}